.app.dark {
    --bg-color: #060638;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #070580;
    --inverted-secondary-color: #0471ff;
}