.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #060638;
    --primary-color: #203f96;
    --secondary-color: #237aeb;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
