.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #060638;

    --primary-color: #070580;
    --secondary-color: #0471ff;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}